 @import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    font-family: "Raleway" , sans-serif;
    font-size: 14px;
    background-color: hsl(229, 57%, 11%);
}
.dark-blue {
    background-color: hsl(228, 56%, 26%);
}
.attribution {
     font-size: 11px; 
     text-align: center; 
    }
    .attribution a { 
        color: hsl(228, 45%, 44%);
     
    
    
    }